/* Reusable, object-oriented CSS base components for all Zulip pages
   (both web app and portico). */

.new-style {
    & label.checkbox {
        padding: 0;
        display: inline-block;
        position: relative;
        vertical-align: top;
        min-height: 20px;

        & input[type="checkbox"] {
            position: absolute;
            clip: rect(0, 0, 0, 0);

            ~ span {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                top: -2px;

                padding: 2px;
                margin: 0 5px 0 0;
                height: 10px;
                width: 10px;

                font-weight: 300;
                line-height: 0.8;
                font-size: 1.3rem;
                text-align: center;
                border: 1px solid hsl(0deg 0% 0% / 60%);

                border-radius: 4px;
                filter: brightness(0.8);

                cursor: pointer;
            }

            &:checked ~ span {
                background-image: url("../images/checkbox.svg");
                background-size: 85%;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }

            &:disabled ~ span {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }

    & a.no-style {
        color: inherit;
    }
}

a.no-underline,
a.no-underline:hover {
    text-decoration: none;
}

.half-opacity {
    opacity: 0.5;
}

.italic {
    font-style: italic;
}

.simplebar-track {
    .simplebar-scrollbar::before {
        background-color: hsl(0deg 0% 0%);
        box-shadow: 0 0 0 1px hsl(0deg 0% 100% / 33%);
    }

    &.simplebar-vertical {
        transition: width 0.2s ease 1s;

        &.simplebar-hover {
            width: 15px;
            transition: width 0.2s ease;
        }
    }

    &.simplebar-horizontal {
        transition: height 0.2s ease 1s;

        &.simplebar-hover {
            height: 15px;
            transition: height 0.2s ease;
        }
    }
}

i.zulip-icon.zulip-icon-bot {
    color: hsl(180deg 5% 74%);
    vertical-align: top;
    padding: 0 2px;
}

.tippy-content {
    /* Set the default font size for tooltips. Popovers override this with
       a rule looking at the data-theme.
     */
    font-size: 12px;
}

/* Hide the somewhat buggy browser show password feature in IE, Edge,
   since it duplicates our own "show password" widget. */
input::-ms-reveal {
    display: none;
}

.password-div {
    position: relative;

    .password_visibility_toggle {
        position: absolute;
        right: 10px;
        top: 42px;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }
}

select.bootstrap-focus-style {
    &:focus {
        outline: 1px dotted hsl(0deg 0% 20%);
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}

/* WB */
:root {
	--technovation-energetic-blue: #0076cf;
	--technovation-bright-blue: #5bc2e7;
	--technovation-magenta: #d0006f;
	--technovation-green: #43b02a;
	--technovation-gold: #ffb81c;
  --technovation-orange: #ff7500;
	--technovation-dark-blue: #041e42;
	--color-gray: #fff !important;
	--color-gray-dark: #fff !important;
	--color-gray-light: #fff !important;
	--color-off-white: transparent !important;
	--user-list-bg: var(--technovation-magenta) !important;
	--list-item-bg-hover: transparent !important;
	--systemMessage-border-color: var(--technovation-energetic-blue) !important;
	--systemMessage-background-color: #0076cf21 !important;
	--toolbar-button-bg: #ff7500 !important;
	--toolbar-list-bg: #ff7500 !important;
	--background: #ff7500 !important;
	--color-primary: #0076cf !important;
	--dropdown-bg: #0076cf !important;
}

/*.recent_topics_container #recent_topics_table tr[data-unread-count="0"] *,*/
.recent_topics_container #recent_topics_table tr:not([data-unread-count="0"]) *,
.message-header-contents > span {
  color: #fff !important;
}

.recent_topics_container #recent_topics_table thead tr:not([data-unread-count="0"]) * {
  color: var(--technovation-energetic-blue) !important;
}

a,
.recent_topics_container #recent_topics_table a,
.recent_topics_container #recent_topics_table tr[data-unread-count="0"]:hover *,
.recent_topics_container #recent_topics_table tr:not([data-unread-count="0"]):hover * {
  color: var(--technovation-energetic-blue) !important;
}

.recent_topics_container #recent_topics_table tr:not([data-unread-count="0"]),
.message-header-contents {
  background-color: var(--technovation-energetic-blue) !important;
}

.recent_topics_container #recent_topics_table tr:hover {
    background-color: #eff7ff !important;
}

.message_header_stream a.message_label_clickable {
    color: inherit !important;
}

.message_header_stream a.message_label_clickable {
    font-weight: 400;
}

.hotspot-icon .dot {
  border: 2px solid var(--technovation-green) !important;
  background-color: rgb(67 176 42 / 30%) !important;
}

.hotspot-icon .bounce .bounce-icon {
  color: var(--technovation-green) !important;
}

div[id*="tippy"] * {
  -color: #fff !important;
}

#navbar-buttons .dropdown-menu a:hover,
.typeahead-menu .active>a,
.typeahead-menu .active>a:hover {
  color: #fff !important;
}

.hotspot.overlay .hotspot-title {
  line-height: 1.6 !important;
}

li.active-filter a,
li.active-sub-filter a,
.stream-row .sub-info-box .top-bar .stream-name {
  font-weight: 400 !important;
}

li.active-filter > .bottom_left_row > .selectable_sidebar_block > a,
li.active-sub-filter > .topic-box > a {
  font-size: 16px !important;
}

.rendered_markdown .message_inline_image,
.rendered_markdown .twitter-image {
  background: none !important;
}
